schemas.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs ="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="priceType">
		<xs:restriction base="xs:decimal">
				<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="authorType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="nationality" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="bookType">
		<xs:sequence>
			<xs:element name="author" type="authorType" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="genre" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="price" type="priceType" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="publish_date" type="xs:date" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="description" type="xs:string"></xs:element>
			<xs:element name="stocked_by" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
      		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="type" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="catalogType">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="book" type="bookType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="catalog" type="catalogType"/>
</xs:schema>
